<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer App</title>
</head>
<body onload="startTimer(60)">
    <h1>Seconds until timer in flask updates:</h1>
    <h2 id="timerDisplay">00:00</h2>

    <script>
        function startTimer(sec) {
            const seconds=sec
            fetch(`/start/${seconds}`)
                .then(response => response.json())
                .then(data => {
                    if (data.status === "started") {
                        updateTimer();
                    }
                });
        }

        function updateTimer() {
            fetch('/get_time')
                .then(response => response.json())
                .then(data => {
                    const timeLeft = data.time_left;
                    const minutes = Math.floor(timeLeft / 60);
                    const seconds = Math.floor(timeLeft % 60);
                    document.getElementById('timerDisplay').textContent = 
                        `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
                    
                    if (timeLeft > 0) {
                        setTimeout(updateTimer, 100);
                    }
                    if (timeLeft == 0){
                        setTimeout(startTimer(60), 100);
                        fetch('/everyminute');
                    }
                    
                });
        }
    </script>
</body>
</html>

<!--
タイマー関数のためのHTML
flaskで非同期処理やるのが難しかったのでこのhtmlのページを立ち上げて．HTML側でループを回す
1秒ごとにflaskに問い合わせ，1分経過したらflask側の時刻（分）を更新
flask側では時刻が設定済みの時刻と一致したらタイマーが作動するようになってる

javascript側で再帰構造のループ回して秒数アップデートしてる
onloadでhtmlページ読み込み完了時に関数が実行できるのでこれ使う
fetch：バックエンドのページにデータ問い合わせ　flaskが返す　非同期処理
.then()：非同期処理が成功したときに実行する処理　ここでflaskから帰ってきたデータを受け取り
setTimeout(func, millisec):ミリ秒後に関数を実行

-->